<link rel="stylesheet" type="text/css" href="/static/css/default.css" />
<link rel="stylesheet" type="text/css" href="/static/css/component.css" />
<link rel="stylesheet" href="/static/css/cartstyle.css">


<div class="container">

    <div class="main">
        <ul id="og-grid" class="og-grid">
            <li>

                <a href="#" data-largesrc="/static/images/logos/ACC.png" data-title="TAL Insurance" data-description="
                    <p>Funeral expenses benefit - Life: $20,000 </p>
                    <p>Financial planning benefit: $5,000 </p>
                    <p>Complimentary child insurance - Life: $0 </p>
                    <p>FWorldwide cover: Yes </p>
                    <p>$12.04 per month </p>">
                    <img src="/static/images/logos/ACC.png" alt="img01" />
                    <b>ACC Company</b>

                    <p>Funeral expenses benefit - Life: $20,000 </p>
                    <p>Financial planning benefit: $5,000 </p>
                    <p>Complimentary child insurance - Life: $0 </p>
                    <p>FWorldwide cover: Yes </p>
                    <p>$12.04 per month </p>



                </a>
            </li>
            <li>
                <a href="#" data-largesrc="/static/images/logos/AIG.png" data-title="Veggies sunt bona vobis" data-description="Komatsuna prairie turnip wattle seed artichoke mustard horseradish taro rutabaga ricebean carrot black-eyed pea turnip greens beetroot yarrow watercress kombu.">
                    <img src="/static/images/logos/AIG.png" alt="img02" data-toggle="tooltip" data-placement="bottom" data-original-title="Material design is a visual language for our users that synthesizes the classic principles of good design with the innovation and possibility of technology and science."
                    />



                </a>
            </li>
            <li>
                <a href="#" data-largesrc="/static/images/logos/MLC.png" data-title="Dandelion horseradish" data-description="Cabbage bamboo shoot broccoli rabe chickpea chard sea lettuce lettuce ricebean artichoke earthnut pea aubergine okra brussels sprout avocado tomato.">
                    <img src="/static/images/logos/MLC.png" alt="img03" />
                </a>
            </li>
            <li>
                <a href="#" data-largesrc="/static/images/logos/AMP.png" data-title="Azuki bean" data-description="Swiss chard pumpkin bunya nuts maize plantain aubergine napa cabbage soko coriander sweet pepper water spinach winter purslane shallot tigernut lentil beetroot.">
                    <img src="/static/images/logos/AMP.png" alt="img01" />
                </a>
            </li>
            <li>
                <a href="#" data-largesrc="/static/images/logos/anz-life-logo.png" data-title="Veggies sunt bona vobis" data-description="Komatsuna prairie turnip wattle seed artichoke mustard horseradish taro rutabaga ricebean carrot black-eyed pea turnip greens beetroot yarrow watercress kombu.">
                    <img src="/static/images/logos/anz-life-logo.png" alt="img02" />
                </a>
            </li>
            <li>
                <a href="#" data-largesrc="/static/images/logos/AST.png" data-title="Dandelion horseradish" data-description="Cabbage bamboo shoot broccoli rabe chickpea chard sea lettuce lettuce ricebean artichoke earthnut pea aubergine okra brussels sprout avocado tomato.">
                    <img src="/static/images/logos/AST.png" alt="img03" />
                </a>
            </li>
            <li>
                <a href="#" data-largesrc="/static/images/logos/WBC.png" data-title="Azuki bean" data-description="Swiss chard pumpkin bunya nuts maize plantain aubergine napa cabbage soko coriander sweet pepper water spinach winter purslane shallot tigernut lentil beetroot.">
                    <img src="/static/images/logos/WBC.png" alt="img01" />
                </a>
            </li>
            <li>
                <a href="#" data-largesrc="/static/images/2.jpg" data-title="Veggies sunt bona vobis" data-description="Komatsuna prairie turnip wattle seed artichoke mustard horseradish taro rutabaga ricebean carrot black-eyed pea turnip greens beetroot yarrow watercress kombu.">
                    <img src="/static/images/logos/2.jpg" alt="img02" />
                </a>
            </li>
            <li>
                <a href="#" data-largesrc="/static/images/3.jpg" data-title="Dandelion horseradish" data-description="Cabbage bamboo shoot broccoli rabe chickpea chard sea lettuce lettuce ricebean artichoke earthnut pea aubergine okra brussels sprout avocado tomato.">
                    <img src="/static/images/logos/3.jpg" alt="img03" />
                </a>
            </li>
            <li>
                <a href="#" data-largesrc="/static/images/1.jpg" data-title="Azuki bean" data-description="Swiss chard pumpkin bunya nuts maize plantain aubergine napa cabbage soko coriander sweet pepper water spinach winter purslane shallot tigernut lentil beetroot.">
                    <img src="/static/images/logos/1.jpg" alt="img01" />
                </a>
            </li>
            <li>
                <a href="#" data-largesrc="/static/images/2.jpg" data-title="Veggies sunt bona vobis" data-description="Komatsuna prairie turnip wattle seed artichoke mustard horseradish taro rutabaga ricebean carrot black-eyed pea turnip greens beetroot yarrow watercress kombu.">
                    <img src="/static/images/logos/2.jpg" alt="img02" />
                </a>
            </li>
            <li>
                <a href="#" data-largesrc="/static/images/3.jpg" data-title="Dandelion horseradish" data-description="Cabbage bamboo shoot broccoli rabe chickpea chard sea lettuce lettuce ricebean artichoke earthnut pea aubergine okra brussels sprout avocado tomato.">
                    <img src="/static/images/logos/3.jpg" alt="img03" />
                </a>
            </li>
            <li>
                <a href="#" data-largesrc="/static/images/1.jpg" data-title="Azuki bean" data-description="Swiss chard pumpkin bunya nuts maize plantain aubergine napa cabbage soko coriander sweet pepper water spinach winter purslane shallot tigernut lentil beetroot.">
                    <img src="/static/images/logos/1.jpg" alt="img01" />
                </a>
            </li>
            <li>
                <a href="#" data-largesrc="/static/images/2.jpg" data-title="Veggies sunt bona vobis" data-description="Komatsuna prairie turnip wattle seed artichoke mustard horseradish taro rutabaga ricebean carrot black-eyed pea turnip greens beetroot yarrow watercress kombu.">
                    <img src="/static/images/logos/2.jpg" alt="img02" />
                </a>
            </li>
            <li>
                <a href="#" data-largesrc="/static/images/3.jpg" data-title="Dandelion horseradish" data-description="Cabbage bamboo shoot broccoli rabe chickpea chard sea lettuce lettuce ricebean artichoke earthnut pea aubergine okra brussels sprout avocado tomato.">
                    <img src="/static/images/logos/3.jpg" alt="img03" />
                </a>
            </li>
            <li>
                <a href="#" data-largesrc="/static/images/1.jpg" data-title="Azuki bean" data-description="Swiss chard pumpkin bunya nuts maize plantain aubergine napa cabbage soko coriander sweet pepper water spinach winter purslane shallot tigernut lentil beetroot.">
                    <img src="/static/images/logos/1.jpg" alt="img01" />
                </a>
            </li>
            <li>
                <a href="#" data-largesrc="/static/images/2.jpg" data-title="Veggies sunt bona vobis" data-description="Komatsuna prairie turnip wattle seed artichoke mustard horseradish taro rutabaga ricebean carrot black-eyed pea turnip greens beetroot yarrow watercress kombu.">
                    <img src="/static/images/logos/2.jpg" alt="img02" />
                </a>
            </li>
            <li>
                <a href="#" data-largesrc="/static/images/3.jpg" data-title="Dandelion horseradish" data-description="Cabbage bamboo shoot broccoli rabe chickpea chard sea lettuce lettuce ricebean artichoke earthnut pea aubergine okra brussels sprout avocado tomato.">
                    <img src="/static/images/logos/3.jpg" alt="img03" />
                </a>
            </li>
            <li>
                <a href="#" data-largesrc="/static/images/1.jpg" data-title="Azuki bean" data-description="Swiss chard pumpkin bunya nuts maize plantain aubergine napa cabbage soko coriander sweet pepper water spinach winter purslane shallot tigernut lentil beetroot.">
                    <img src="/static/images/logos/1.jpg" alt="img01" />
                </a>
            </li>
            <li>
                <a href="#" data-largesrc="/static/images/2.jpg" data-title="Veggies sunt bona vobis" data-description="Komatsuna prairie turnip wattle seed artichoke mustard horseradish taro rutabaga ricebean carrot black-eyed pea turnip greens beetroot yarrow watercress kombu.">
                    <img src="/static/images/logos/2.jpg" alt="img02" />
                </a>
            </li>
            <li>
                <a href="#" data-largesrc="/static/images/3.jpg" data-title="Dandelion horseradish" data-description="Cabbage bamboo shoot broccoli rabe chickpea chard sea lettuce lettuce ricebean artichoke earthnut pea aubergine okra brussels sprout avocado tomato.">
                    <img src="/static/images/logos/3.jpg" alt="img03" />
                </a>
            </li>


        </ul>

    </div>


</div>
<!-- /container -->

<div class="cd-cart-container empty">
    <a href="#0" class="cd-cart-trigger">
		Cart
		<ul class="count"> <!-- cart items count -->
			<li>0</li>
			<li>0</li>
		</ul> <!-- .count -->
	</a>

    <div class="cd-cart">
        <div class="wrapper">
            <header>
                <h2>Cart</h2>
                <span class="undo">Item removed. <a href="#0">Undo</a></span>
            </header>

            <div class="body">
                <ul>
                    <!-- products added to the cart will be inserted here using JavaScript -->
                </ul>
            </div>

            <footer>
                <a href="#0" class="checkout btn"><em>Submit - <span>0</span></em></a>
            </footer>
        </div>
    </div>
    <!-- .cd-cart -->
</div>